*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #333;
}
ul,li{
    list-style: none;
}
/* 공통 영역 */
.inner{
    width: 1200px;
    margin: 0 auto;
    /* background-color: rgb(150, 182, 161); */
}
/* 전체 영역 */
/* 헤더 영역 */
header{
    background-color: rgb(193, 187, 230);
}
/* 로고 영역 / 나의 메뉴 */
.header-1{
    display: flex;
    justify-content: space-between;
}
/* 로고 영역 */
.header-logo{
    padding: 30px 0;
    width: 200px;
    /* background-color: lightblue; */
}
.header-logo img{
    width: 100%;
}
/* 나의 메뉴 */
.mymenu{
    padding: 30px;
    width: 550px;
    /* background-color: lightgr een; */
}
.mymenu-list{
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.mymenu-icon{
    display: flex;
    gap: 5px;
    align-items: center;
}
.mymenu-list img{
    width: 20px ;
    height: 20px;
}
.mymenu p{
    font-size: 18px;
}
/* 헤더 top / 검색 */
.header-2{
    display: flex;
    justify-content: space-between;
}
/* 헤더 top */
.header-top{
    display: flex;
    /* background-color: cornflowerblue; */
}
.top-menu{
    width: 700px; 
    display: flex;
    gap: 30px;
    /* background-color: brown; */
}
/* 검색 */
.search-img{
    display: flex;
    /* text-align: center; */
}
/* 검색창 */
.search-img input{
    /* margin-right: 80px; */
    border-radius: 50px;
    border: 1px solid #999 ;
    height: 40px;
    width: 400px;
    margin: 5px 0;
}
/* 검색 이미지 */
.search{
    display: block;
    width: 40px;
}
.search img{
    width: 100%;
}
/* 헤더 bottom */
.header-btm{
    display: flex;
    gap: 40px;
    width: 500px;
    /* background-color: aqua; */
}
/* 메인 영역 */
main .inner{
    padding: 10px 50px
}
/* BEST */
main h3{
    padding: 5px 0;
}
/* 메인 메뉴 */
.main-menu{
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* background-color: brown; */
}
.main-menu li{
    margin: 5px 30px;
    font-size: 15px;
    /* background-color: aqua; */
}
.main-menu .line{
    width: 1px;
    height: 18px;
    /* margin: 10px; */
    /* display: inline-block; */
    background-color: #ccc;
}
/* 랭킹 기준 */
.rank{
    display: flex;
    gap: 5px;
}
.rank li{
    border: 1px none #333;
    border-radius: 30px;
    margin: 5px 5px 5px 0;
    padding: 3px 15px;
    background-color: #ccc;
    font-size: 15px;
    color: black;
}
.rank .present{
    background-color: black;
    color: #fff;
}
/* 아이템 영역 */
.item .inner{
    padding: 10px 50px;
}
.item-list{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
.card{
    width: 150px;
    position: relative;
    /* background-color: rgb(168, 203, 235); */
}

/* 이미지 영역 */
.img-box{
    position: relative;
    background-color: red;
}
/* 이미지 */
.card img{
    width: 100%;
    display: block;
}
/* 순위 */
.number{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #000;
    background-color: #000
}
/* 패션위크 */
.fashion-week{
    position: absolute;
    bottom: 0;
    /* top: 125px; */
    left: 0;
    margin: 3px;
    padding: 0 3px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #000;
    background-color: #000;
}
/* 브랜드 명 */
.brand{
    margin: 3px 0;
}
/* 제품명 */
.item-name{
    margin: 5px 0;
    font-size: 13px;
}
/* 할인율/가격 */
.text-1{
    display: flex;
    gap: 5px;
    margin: 5px 0;
    font-weight: bold;
    font-size: 17px;
}
.text-1 .discount{
    color: red;
}
.text-1 .price{
}
/* 쿠폰/무료배송 */
.text-2{
    display: flex;
    gap: 5px;
}
.text-2 p{
    font-size: 12px;
    font-weight: bold ;
    padding: 1px 5px;
    border: 1px none #333;
    border-radius: 5px;
    background-color: #ccc;
}
/* 푸터 영역 */
footer{
    margin: 50p x;
    color: #fff;
    font-size: 13px ;
    background-color: #000;
} 
footer .inner{
    padding: 10px 0;
}
/* 사업자 정보 */
footer .inner .text-1{
    margin: 20px 0;
}
/* 개인정보처리방침 */
footer .text-3{
    margin: 20px 0;
    display: flex;
    gap: 20px;
    align-items: center;
}
footer .text-3 li{
    margin: 20px 0;
    /* background-color: r gb(211, 52, 76) ; */
}
footer .text-3 .line{
    width: 1px;
    height: 15px;
    margin: 0px;
    /* display: inline-block; */
    background-color: #fff;
}
/* 푸터 로고 */
footer .logo{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
footer img{
    width: 30px;
}
